<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compl_AI</title>
</head>
<body>
    {% if output %}
    <h1>Paragraph covers "Storage limitation"</h1>
    <p>Ambiguity score: {{amb}}</p>
    <p>Level of confidency: {{conf}}</p>
    <p><img src="{{url_for('static', filename='traffic-light-green.jpg')}}"/></p>
    <br>
    {% else %}
    <h1>Paragraph does not cover "storage limitation" according to GDPR</h1>
    <p><img src="{{url_for('static', filename='traffic-light-red.jpg')}}"/></p>
    <br>
    {% endif %}
    <p><a href="{{ url_for('form') }}">Go back to form</a></p>
</body>
</html>